/* Universal Styles*/

.header {
  background: linear-gradient(90deg, #769e76, #4a7c59);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header img {
  height: 50px;
}
.header nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s;
}
.header nav a:hover {
  color: #ffcc00;
}
.header .account {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header .account img {
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.account-dropdown {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}

.account-dropdown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.account-dropdown a:hover {
  background-color: #f1f1f1;
}

.footer {
  background-color: #4a7c59;
  color: white;
  text-align: center;
  position: fixed;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}

.footer a {
  color: #ffffff;
  background-color: #075018;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.footer a:hover {
  background-color: #555555;
}

/* Universal Styles END*/

/* LOGIN SYSTEM CSS START */

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-form-group label {
  display: block;
  margin-bottom: 5px;
}

.login-form-group input {
  width: calc(100%); /* Adjust width to account for padding and border */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.login-error {
  color: red;
  font-size: 12px;
  display: none;
}

.login-signup-section {
  text-align: center;
  margin-top: 20px;
}

.login-signup-section .login-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-signup-section .login-button:hover {
  background-color: #45a049;
}

.login-container button[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button[type="submit"]:hover {
  background-color: #555;
}

/* LOGIN PAGE CSS END */

/* SIGNUP PAGE CSS START */

.signup-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.signup-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.signup-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.signup-form-group {
  margin-bottom: 15px;
}

.signup-form-group label {
  display: block;
  margin-bottom: 5px;
}

.signup-form-group input {
  width: calc(100%); /* Adjust width to account for padding and border */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.signup-section {
  text-align: center;
  margin-top: 20px;
}

.signup-section .signup-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-section .signup-button:hover {
  background-color: #45a049;
}

.signup-container button[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-container button[type="submit"]:hover {
  background-color: #555;
}

/* SIGNUP PAGE CSS END */

/* Menu page CSS START */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/*Header Code*/

header .main-nav {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  justify-content: center;
}

header .main-nav a {
  color: white;
  text-decoration: none;
}

header .cart {
  margin-right: 20px;
  position: relative;
}

header .cart a {
  color: white;
  text-decoration: none;
}
/*Checkout code */
header .Checkout-cart {
  margin-right: 20px;
  position: relative;
}

.Checkout-cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.Checkout-cart-item .Checkout-quantity-control {
  display: flex;
  align-items: center;
}

.Checkout-cart-item .Checkout-quantity-control button {
  background-color: #cd212a;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.Checkout-cart-item .Checkout-quantity-control span {
  margin: 0 10px;
}

.Checkout-cart-item button {
  background-color: transparent;
  border: none;
  color: #cd212a;
  cursor: pointer;
}

.Checkout-button {
  background-color: #cd212a;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

.Checkout-back-button {
  background: none;
  border: none;
  color: #4a4a4a;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.Checkout-cart-container {
  padding: 20px;
}

.Checkout-cart-item img {
  width: 50px;
  height: auto;
}

.Checkout-cart-item .Checkout-item-name {
  flex-grow: 1;
  margin: 0 20px;
}

.Checkout-cart-item .Checkout-item-price {
  font-weight: bold;
}

.Checkout-total-price {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
}
/*Shopping Cart Code*/
.top-container {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}

.landing-back-button {
  display: flex;
  background-color: #f4f4f4;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.cart {
  position: relative;
  top: -73px;
  float: right;
  display: flex;
  align-items: center;
}

.cart img {
  width: 40px; /* Adjust the size as needed */
  height: 40px;
  cursor: pointer;
}

.cart-dropdown {
  display: none;
  position: absolute;
  top: 100%; /* Position below the cart */
  right: 0;
  background-color: white;
  color: black;
  min-width: 300px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  padding: 10px;
  max-height: 300px; /* Add max height */
  overflow-y: auto; /* Add scroll bar */
}

.cart-dropdown.show {
  display: block;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.cart-item img {
  height: 40px;
  margin-right: 10px;
}

.cart-item .quantity-control {
  display: flex;
  align-items: center;
}

.cart-item .quantity-control button {
  background-color: #cd212a;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-item .quantity-control span {
  margin: 0 10px;
}

.cart-item button {
  background-color: transparent;
  border: none;
  color: #cd212a;
  cursor: pointer;
}

.checkout-button {
  background-color: #cd212a;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}
/*Main Menu Code*/
main {
  padding: 80px 20px 20px;
}

.landing-back-button {
  background: none;
  border: none;
  color: #4a4a4a;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.landing-menu-categories {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.landing-menu-categories button {
  background-color: #4a4a4a;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
}

.landing-menu-categories button:hover,
.landing-menu-categories button:focus,
.landing-menu-categories button.active {
  background-color: #cd212a;
}

.landing-menu-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.landing-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: calc(50% - 20px);
  box-sizing: border-box;
}

.landing-menu-item img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.landing-menu-item .details {
  text-align: center;
  width: 100%;
}

.landing-menu-item h2 {
  margin: 10px 0;
  color: #000000;
}

.landing-menu-item p {
  margin: 10px 0;
  color: #4a4a4a;
}

.landing-menu-item button {
  background-color: #d74048;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.landing-menu-item button:hover,
.landing-menu-item button:focus {
  background-color: #cd212a;
}

.landing-menu-item .price {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
/*Filtering Sections Code*/
.filterDiv {
  display: none;
}
/*Cart DropBox*/
.show {
  display: block;
}

/* LANDING PAGE CSS END */

.checkout-cart-items table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.checkout-cart-items th,
.checkout-cart-items td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

.checkout-cart-items th {
  background-color: #f2f2f2;
}

.checkout-cart-items tr:nth-child(even) {
  background-color: #f9f9f9;
}

.checkout-cart-items tr:hover {
  background-color: #f1f1f1;
}

.checkout-total-price {
  text-align: right;
  margin-bottom: 2rem;
}

.checkout-button {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
}

.checkout-button:hover {
  background-color: #218838;
}
